// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: white;
$body-color: black;
$primary: rgb(255, 115, 105);
$secondary: black;
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS
.card {
  width: 200;
  height: 400;
}
.row {
  width: 100%;
  height: 100%;
}
.card-title {
  color: black;
}
.card-body {
  background-color: $primary;
}
.card-header {
  background-color: $primary;
}
.card-text {
  color: black;
}
.circle {
  border: 1px solid;
  border-radius: 50%;
  height: 100%;
  background: white;
  margin: -1px 10px 0 -1px;
  float: left;
}
.footer {
  background-color: $primary;
  padding: 20px 0;
  color: black;
  text-align: center;
  grid-area: footer;
}
